:root{
   --base-color:rgb(243,223,247);
   --text-color: black;
   --active-color:  rgb(85,13, 153);
   --activehover-color: rgb(238,216, 93);      
   --socials-color:rgb(31, 5, 54);
   --commentborder:rgba(2, 2, 2, 0.418);
   --commentbox:rgba(2, 2, 2, 0.26);
   --btn-color:rgb(162, 134, 189);
}
.dark{
   --base-color: rgb(29, 3, 53);
   --text-color: white;
   --active-color: rgb(243,223,247);
   --activehover-color: rgb(238,216, 93);      
   --socials-color:rgb(140, 108, 170);
   --commentborder:rgba(2, 2, 2, 0.418);
   --commentbox:rgba(2, 2, 2, 0.26); 
}
body{
    background-color:var(--base-color);
}
/* navbar*/

.navbar{
    top: 0;
    left: 0; 
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    color: var(--active-color);                                                                                                                                                                                       
}
.corel{
     width:58px;
    height: 55px;
    margin-left: 60px;
}
.coral{
     width:58px;
    height: 55px;
    margin-left: 60px;
    margin-top: 0px;
}
.navlinks{
    display: flex;
    align-items: center;
}

.navlinks li{
    margin: 0 20px;
}
.navlinks li .bord:hover{
    border:2px solid var(--active-color);
    padding: 5px 8px;
    border-radius: 10px;
}
.logo{
    font-family: french script MT;
    font-size: xx-large;
    color: var(--active-color);
}
a{
    text-decoration: none;
    color:var(--active-color);
}
ul{
    list-style: none;
}
.active{
    color:var(--active-color);
    text-decoration: underline;
    font-weight:bold ;
}
/* navbar*/    
ion-icon{
    font-size: 23px;
    color: var(--text-color);
   
}  
#theme{
    width: 37px;
    height: 40px;
    left: 90%;
     border-radius: 50%;
     background-color: var(--btn-color);
     border: none;
     position: relative;
}    
#theme ion-icon:last-child{
    display: none;
}   
.dark #theme ion-icon:first-child{
    display: none;
}
.dark #theme ion-icon:last-child{
    display: block;
}
.coral{
    display: none;
}
.dark .coral{
    display: block;
}
.dark .corel{
    display: none;
}
.ctn{
    padding: 8px 15px;
    border-radius: 30px;
    background:var(--active-color);
    color: var(--base-color);
}
.ctn:hover{
    background-color:var(--activehover-color);
    color:var(--active-color);
    font-weight: 700;
}

.menubtn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

h1{
    font-size: 2.5rem;
    font-family: Footlight MT Light;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--text-color);
}
h2{
  margin-bottom: 20px;
  font-size: medium; 
  color: var(--text-color); 
}
h3{
  font-size: smaller;  
  margin-bottom: 40px;
  color: var(--text-color);
}
h4{
    font-size: 2rem;
    color: var(--text-color);
}
.write{
    margin-left: 40px;
    margin-top: 60px;
    margin-right: 350px;
}
p{
    font-size: 1.3rem;
    font-family: Comic Sans MS;
    text-align: left;
    margin-right: 40px;
    color: var(--text-color);
}
footer{
    width: 100vw;
    height: 23vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
img{
    width: 350px;
    height: 350px;
    margin-left: 200px;
}
.postimg{
    width: 400px;
    height: 250px;
    margin-left: 0px;
    margin-top: 30px;
    border: 2px solid black;
}
.size{
 width: 250px;
    height: 250px;
    margin-left: 200px;   
}
.end{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.posttitle a{
    font-size: 3.2vw;
}
footer .fo ion-icon{
    
    top: 30%;
    position: relative;
    width: 25px;
    height: 25px;
     padding: 10px 10px;
    border-radius: 30px;
    background:var(--socials-color);
    color: var(--base-color);
    font-weight: 600;
    transition: all .5s ease;
}
footer a ion-icon{
    left:99% ;
}
footer a ion-icon:hover{
     background-color:var(--activehover-color) ;
    color:var(--socials-color);
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 77px; /* Place the button at the bottom of the page */
  right: 120px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--socials-color); /* Set a background color */
  color:white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 40px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color:var(--activehover-color); /* Add a dark-grey background on hover */
}
@media only screen and (max-width:850px){
    .write{
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 20px;
    }
    img{
        margin-left: 20px;
    }
    .end{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
   
}
/* for nav*/
@media only screen and (max-width:850px){
    .corel{
        width: 42px;
        height: 39px;
        margin-left: 0px;
    }
    .coral{
        width:  42px;
        height: 39px;
        margin-left: 0px;
    }
    .logo{
        font-size: x-large;
    }
}
/* for nav*/

/* for comments*/

#comment-form{
     position: relative;
    width: 350px;
    height: 320px;
    border: 2px solid var(--commentborder);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-color: var(--commentbox);
    padding-left: 20px;

}
input{
    position: relative;
     width:320px;
    height: 30px;
    background: transparent;
    border-radius: 12px;
    font-family: Comic Sans MS;
    font-size: 1rem;
    border: 2px solid var(--commentborder);
    margin-bottom: 10px;
}
input::placeholder{
    font-family: Comic Sans MS;
    font-size: 1rem; 
    background-color: transparent;

}
.comments-container{
     width:360px;

    background: transparent;
    border-radius: 12px;
    font-family: Comic Sans MS;
    font-size: 1rem;
    border: 2px solid var(--commentborder);
    margin-bottom: 10px;
}
.comment-section h2{
    font-size: 2.5rem;
    font-family: Footlight MT Light;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
#comment{
    width:320px;
    height: 140px;
    background: transparent;
    border-radius: 12px;
    font-family: Comic Sans MS;
    font-size: 1rem;
    border: 2px solid var(--commentborder);
    margin-bottom: 10px;
}
#comment::placeholder{
    font-family: Comic Sans MS;
    font-size: 1rem;
    background-color: transparent;
}
button{
    background: transparent;
    border-radius: 12px;
    font-size: 1rem;
    border: 2px solid var(--commentborder);
     font-family: Comic Sans MS;
}
button:hover{
    border-bottom: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
}
/* for comments*/
